
<main>
<section><h1>Dear Customer
Welcome to choose my studio,I am very delighted that you are here, for years , I have worked coroperated with many clients who are from government or corporater. or business, we worked through the jungle to explore the new world and new colourful vibe around us.</h1></section>
<section><h1> Log In</h1>
<form action="/users" method="POST">
<label for="">Email</label>
<input type="text" name= "email">
<br>
<label for="">Password</label>
<input type="text" name= "password">
<br>
<button>Log In</button>

<a href="/sign_up">Sign up?(create new one)</a> 




</form>
</section>
</main>