<main>
<section>
<h1>CASE STUDIES</h1>
<% cases.each do |c|%>
    <div>
    <img src='<%= c['image_url']%>'>
    <h1><%= c['name']%></h1>
    </div>
<% end %>
</section>
<section>
<h1>WEB DESIGN</h1>
</section>
</main>