<header>
    <h1>
        <a href="/">HOME</a>
        <a href="/work">WORK</a>
        <a href="/clients">CLIENTS</a> 
        <span>ABOUT</span>
        <span>SERVICES</span>
        <span>CONTACT</span>
    </h1>
</header>
<main>
<h1>CASE STUDIES</h1>
<h1>WEB DESIGN</h1>
</main>