<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <a href="/">HOME</a>
    <a href="/work">WORK</a>
    <a href="/services">SERVICES</a>
    <a class="logo" href="/">
      <img src="/images/logo.png" alt="">
    </a>
    <a href="/users/user_welcome">USER PORTAL</a>
    <a href="/about">ABOUT</a>
    <a href="/contact/0">CONTACT</a>
  </header>
  <hr>
  <%= yield %>
  <footer>
  </footer>
</body>
</html>
