<main>
<div class="main-header">
    <h1>SERVICES</h1>
    <p>Integrate your projects with eye catching branding, web design & graphic design.</p>
</div>
<hr>
<div class="services">
    <div>
        <span>
            <img src="" alt="">
            <h2>GRAPHIC DESIGN</h2>
        </span>
        <h3>Branding & Identity System</h3>
        <p></p>
    </div>
    <div>
        <span>
            <img src="" alt="">
            <h2>WEB DESIGN</h2>
        </span>
        <h3>Wirefarming, UI/UX Design & Development</h3>
        <p></p>
    </div>
</div>
</main>