<main>
<div class="main-header">
    <h1>SERVICES</h1>
    <h2>Creating and developing software and systems to solve real-world problems</h2>
    <h2>Bringing your creative ideas to life is what we do best.</h2>
    <br>
</div>
<hr>
<div class="services">
<div></div>
    <div>
        <span>
            <img src="/images/graphic_design.png" alt="">
            <h2>GRAPHIC DESIGN</h2>
        </span>
        <div>
            <ul>
                <li>Design Consultation</li>
                <li>Branding & Logo Design</li>
                <li>Marketing Design</li>
                <li>Corperate Stationary Design</li>
                <li>Special Event Design</li>
            </ul>
        </div>
    </div>
    <div>
        <span>
            <img id="computer" src="/images/computer.png" alt="">
            <h2>WEB DESIGN</h2>
        </span>
        <div>
            <ul>
                <li>Web Consultation</li>
                <li>UI/UX Design</li>
                <li>Front-end Development</li>
                <li>Website Design & Development</li>
                <li>Back-end Support</li>
            </ul>
        </div>
    </div>
</div>
<div></div>
</main>