* {
    box-sizing: border-box;
  }

body {
    background-color: rgb(253, 245, 223);
    color: rgb(134,115,63);
}
  
header {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.home-main {
    text-align: center;
}