<header>
<a href="/">HOME</a>
        <a href="/work">WORK</a>
        <a href="/clients">CLIENTS</a> 
        <a href="/about">ABOUT</span></a> 
        <span>SERVICES</span>
        <span>CONTACT</span>
</header>
<main>
    <h1>Welcome to my studio, <%= name %></h1>
    <h2>Here are our project</h2>
    <h3>Our project's process is </h3>
    <h3>Requirment</h3>
    <h3>Concept</h3>
    <h3>Refined design</h3>
</main>