
<main>
<section>
    <h2>Dear Customer, welcome to choose my studio.</h2>
    <h2>I am very delighted that you are here. For years, I have worked coroperated with many clients from government, corporations and business. We worked through the jungle to explore the new world and new colourful vibe around us.</h2>
    </section>
<section>
<h2>Log In</h2>
<form action="/users/login" method="POST">
<label for="">Email</label>
<input type="text" name= "email">
<br>
<label for="">Password</label>
<input type="text" name= "password">
<br>
<button>Log In</button>
<a href="/users/new">Sign up?(create new one)</a> 
</form>
</section>
</main>