<main>
    <h1>Welcome to my studio, <%= name %></h1>
    <div>
        <h2>Here are our projects</h2>
        <div class="projects">
            <% projects.each do |p|%>
                <div>
                    <img src="<%= p['image']%>" alt="">
                    <h3><%= p['name']%></h3>
                </div>
            <% end %>
        </div>
    </div>
    <div>
        <div>
            <h3>Our project's process is </h3>
        </div>
        <div>
            <h3>Requirment</h3>
        </div>
            <div>
        <h3>Concept</h3>
            </div>
        <div>
            <h3>Refined design</h3>
        </div>
    </div>
</main>